@import url('https://fonts.googleapis.com/css?family=Cinzel:700');
@import url('font-bauhaus.css');
@import url('http://fonts.googleapis.com/earlyaccess/nanumgothic.css');
@import url('http://fonts.googleapis.com/earlyaccess/nanumgothiccoding.css');
@import url('http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');
@import url('Sitka.ttc');
@import url('MTCORSVA.woff');
@import url('https://fonts.cdnfonts.com/css/ocr-a-extended');
@import url('https://fonts.googleapis.com/css2?family=David+Libre&display=swap');
@import url(//db.onlinewebfonts.com/c/fd6fa80f1e3345834599de891cca3f4c?family=OCR+A+Extended);

body {
    background-color: black;
    color: white;
    margin: 60px 20px 100px 20px;
}

h1 {
    color: #eee;
    background: transparent;
    font-family: 'Cinzel', serif;
    text-decoration: none;
    text-shadow: 3px 3px 5px transparent;
    letter-spacing: 0.9px;
    text-align: center;
    font-size: 50px; 
}

h1 a {
    color: #eee;
}

h2 {
    color: #8D8D9B;
    font-size: 15px;
    text-align: center;
    font-family: Book Antiqua,Palatino,Palatino Linotype,Palatino LT STD,Georgia,serif;
}

h3 {
    color: #BEBEC5;
    font-size: 30px;
    text-align: center;
    font-family: 'David Libre', serif;
}

.presentation {
    color: #8D8D9B;
    font-size: 16px;
    text-align: justify;
    font-family: Book Antiqua,Palatino,Palatino Linotype,Palatino LT STD,Georgia,serif;
    margin: auto 400px auto 400px;
}

.presentation .moi {
    font-size: 20px;
    text-align: center;
}

.lien {
    color: #8D8D9B;
    font-size: 16px;
    text-align: justify;
    text-decoration: none;
    font-family: Book Antiqua,Palatino,Palatino Linotype,Palatino LT STD,Georgia,serif;
    margin: auto 450px auto 450px;
    display: block;
    padding: 5px 15px 5px 15px;
}

.lien:nth-child(odd) a {
    font-weight: bold;
    color: #8D8D9B;
}

.lien:nth-child(even) a {
    font-weight: bold;
    color: black;
}

.lien:nth-child(even) {
    background-color: #8D8D9B;
    color: black;
}

.abi {
    position: absolute;
    width: 17%;
    height: 82%;
    float:left;
    margin-left:100px;
}

.abi2 {
    position: absolute;
    width: 17%;
    height: 82%;
    right: 20px;
    top: 60px;
    float:right;
    margin-right:100px;
}

@media only screen and (max-width: 1245px) {
    .abi {
        display: none;
    }
}

@media only screen and (max-width: 1245px) {
    .abi2 {
        display: none;
    }
}

@media only screen and (min-width: 1920px) {
	.abi {
		width: initial;
		height: initial;
	}
}

@media only screen and (min-width: 1920px) {
	.abi2 {
		width: initial;
		height: initial;
	}
}

a {
    text-decoration: none;
    color: white;
}

.VE {
    font-family: "courier", "monospace";
    display: inline-flex;
    font-size: 50px;
    font-weight: bold;
    height: auto;
    transition: all .1s ease-in-out;
}

.VE:hover {
    transform: scale(1.1);
}

.SCP {
    font-family: BauhausLTDemi, 'Nanum Gothic', Arial, sans-serif;
    display: inline-flex;
    font-size: 50px;
    font-weight: bold;
    height: auto;
    transition: all .1s ease-in-out;
}

.SCP:hover {
    transform: scale(1.1);
}

.SCP-logo {
    animation: rotation 8s infinite linear;
}

.Worm {
    font-family: Sitka Small;
    display: inline-flex;
    font-size: 50px;
    font-weight: bold;
    height: auto;
    transition: all .1s ease-in-out;
}

.Worm:hover {
    transform: scale(1.1);
}

.Worm-logo {
    animation: clignote 4s infinite;
}

.CM {
	font-family: "courier", "monospace";
    display: inline-flex;
    font-size: 50px;
    font-weight: bold;
    height: auto;
    transition: all .1s ease-in-out;
}

.CM:hover {
	transform: scale(1.1);
}

.CM-logo {
	animation: rotation 1s infinite linear;
}

.Traduc {
    font-family: Monotype Corsiva;
    display: inline-flex;
    font-size: 80px;
    height: 50px;
    transition: all .1s ease-in-out;
}

.Traduc:hover {
    transform: scale(1.1);
}

.Repert {
    font-family: 'OCR A Extended', sans-serif;
    display: inline-flex;
    font-size: 80px;
    height: 50px;
    transition: all .1s ease-in-out;
}

.Repert:hover {
    transform: scale(1.1);
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    } to {
        transform: rotate(359deg);
    }
}

@keyframes clignote {
    0%   {opacity: 1;} 
    50%  {opacity: 0.5;}
    100% {opacity: 1;}
}

.credits {
    position: fixed;
    left: 0px;
    right: 0px;
    margin: 0px auto 0px auto;
    bottom: 0px;
    text-align: center;
    color: #0092AF;
    font-size: 10px;
}

.credits a {
    color: #0092AF;
    font-weight: bold;
}

@media only screen and (max-width: 995px) {
    .credits {
        position: relative;
        margin-bottom: 0px;
    }
    
    .lien {
        padding: 5px 5px 5px 5px;
        margin: 0px 30px 0px 30px;
    }
    
    body {
        margin: 0px 0px 0px 0px;
    }
    
    .presentation {
        margin: 0px 30px 0px 30px;
    }
    
    .Traduc {
        font-size: 60px;
    }
    
    .Repert {
        font-size: 60px;
        margin-bottom: 40px;
    }
}

